#menu
{
	position: fixed;
	width: 90%;
	height: 35px;
	background: transparent;
	border-radius: 50px;
	margin: auto;
	padding: auto;
	justify-content: space-evenly;
	text-align: center;
	box-sizing: border-box;
	align-items: center;
	display: flex;
	list-style: none;
	
	
	

	
}

li a:hover {
	color:aquamarine;

}
p{
	text-align: center;
}

a button{
	font-family: 'Calibri', Calibri;
	font-size: 20px;
	text-decoration: none;
	color:black;
	font-weight: bold;
	
}

div
{
    text-align: center;
    font-size: 30px;
	width: 100%;
    color: black;
    padding: auto;
    align-items: center;
    height: 150px;
    width: 100%;
    font-family: 'Calibri', Calibri;
	font-weight: bold;

}
.about,.My_photos,.Like,.QR_Code,.QA,.Contact_Me,.My_playlist
{
    background-color: rgb(148, 197, 187);
    background-image: url("leafs3.jpg"); 
    height: 50px;
    width: 100%;
	   
}
/*#playlist
{
	width:100%;
	height:50px;
	white-space:nowrap;
	
}
h3{
	padding:40px;
	height: 50px;
	width: 100%;
	padding-left: 10%;



}
h4{
	padding-left: 70%;
	
	position: relative;
    top: -140px;
	width: 100%;
	
}
h5{
	padding-left: 70%;
	font-family: 'Calibri', Calibri;
	font-size: 18px;
	font-weight: bold;
	position: relative;
    top: -140px;
	width: 100%;

}
h6{
	padding-left: 70%;
	position: relative;
    top: -80px;
	width: 100%;
	
}
h7
{
	padding-left: 71%;
	font-family: 'Calibri', Calibri;
	font-size: 18px;
	font-weight: bold;
	position: relative;
    top: -80px;
	width: 100%;
} */
#likeme{
	
	display: block;
	width: 57%;
	padding-top: -15%;
	position: relative;
	
	
}
h8{
	font-size: 20px;
}



#liked{
	width:100%;
	height: 50px;
	
}
#send{
	font-size:x-large;
	font-family: 'Calibri', Calibri;
	font-weight: bold;

}

#namec,#emailc,#messagec,#sendc{
	font-size:x-large;
	font-family: 'Calibri', Calibri;
}
#sendc{
	font-size:30px ;
}

swiper-container {
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }
#abouttext{
	
	text-align: center;
	font-family: 'Calibri', Calibri;
	padding: 5%  ;
	
}
h8{
	font-family: 'Calibri', Calibri;
}
#qans{
	font-weight: bold;
	text-decoration-line: underline;
}
body{
   
	background-color: rgb(240, 255, 240);
	
}
.logo{
	position: left;
	cursor: pointer;
	height: 50px;

}
button{
    padding: 8px 10px;
    background-color: rgb(68, 120, 111);
	
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: flex;
}
button:hover{
    background-color: rgb(158, 231, 222);

}
